.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: justify;
    color: #555;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .section-image {
    width: 50%;
    margin-right: 2rem;
  }
  
  .section-content {
    width: 48%;
    font-size: 1.2rem;
    text-align: justify;
    color: #555;
  }
  